<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <title> PlayNext</title>
</head>
<body data-page = 'recs'>
    <header id = 'model-info'>
        <span>Current Model: <strong id = model-name></strong></span>
        <span>Number of training examples used: <strong id = model-num-songs></strong></span>
    </header>
    <nav>
        <a href="home.html">Home</a>
        <a href="train.html">Train</a>
        <a href="recs.html">Recs</a>
    </nav>
    <section id = recs-section class="page-section">
        <h1> Get Song recommendations here</h1>
        <div>
            rec
        </div>
    </section>
    </section>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/script.js"></script>
</body>
