<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <title> PlayNext</title>
</head>

<body data-page = 'start'>
    <div id = "model-not-chosen">
        <h1>Choose an existing model:</h1>
        <div id = 'existing-area'>
        </div>
        or
        <h1>Provide the name of a new model</h1>
        <form id = "new-model-form">
            <input id = "new-model-input" type='text' >
        </form>
    </div>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/script.js"></script>
</body>

</html>
