<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <title> PlayNext</title>
</head>

<body data-page = 'train'>
    <header>
        <span>Current Model: <strong id = model-name></strong></span>
        <span>Number of training examples used: <strong></strong></span>
    </header>
    <nav>
        <a href="home.html">Home</a>
        <a href="train.html">Train</a>
        <a href="recs.html">Recs</a>
    </nav>
    <section id = train-input-section class="page-section">
        <h1> Input 80-120 songs you love and 80-120 songs you hate.</h1>
        <form id="song-form">
            <textarea id="positive-examples-input" class="example-input"></textarea>
            <textarea id="negative-examples-input" class="example-input"></textarea>
            <input type='submit' />
        </form>
    </section>

    </section>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/script.js"></script>
</body>
